<footer>
    <div class="footer">
        <div class="right-side-footer">
            <div class="h1-div">
                <h1>Dont Miss Out </h1>
                <p>Sign up for the latest tech news, products and coupons</p>
                <form action="#">
                    <div class="Sign-up">
                        <div class="inputs">
                            <input type="email" required placeholder="Enter Email" >
                            <input type="date" required class="dateInput">
                        </div>
                        <div class="Sing-up-buttom">
                            <button>Sign up</button>
                        </div>
                    </div>
                </form>
                <p style="font-size: 13px;">this site is intender for US consummers.By Signing up,you understand and agree that you data will be collected and used to our US Privacy Policy and Terms of Use</p>
                <p style="font-size: 13px;">*Required information</p>
            </div>
        </div>
        <div class="left-side-footer"></div>
    </div>
</footer>