<div class="welcoming-page">
    <div class="left-side"> 
        <div class="upper-header">
            <h1>Welcome to TechStore</h1>
            <p>Discover the latest in headphones, phones, and gaming gear. Experience the future of technology today.</p>
        </div>
        <div class="down-info">
           <div class="upper-btns">
            <button routerLink="/products" class="btn1">Shop Now</button>
           </div>
           <div class="down-customer">
            <div class="block">
                <h1>50K</h1>
                <p>Satisfied Customers</p>
            </div>
            <div class="block2">
                <h1>1.5K</h1>
                <p>Exclusive Product</p>
            </div>
            <div class="block3">
                <h1>5M+</h1>
                <p>Tech Enthiuasts</p>
            </div>
           </div>
        </div>
    </div>
    <div class="right-side">
        <img src="https://cdn.a1.art/assets/images/app_1811317900177637378/1811317900181831681/9f5c2129-08e3-4a6b-a910-781befba7e4f.jpeg" alt="" style="width: 100%;height: 100%;object-fit: contain;">
    </div>
</div>

<div class="bottom-headers">
    <div class="upper">
        <p>Highlighting the best in modern technology.</p>
    </div>
    <div class="bottom">
        <h1>Top Tech Features</h1>
    </div>
</div>

<div class="TechInfo_Cards">
    <div class="headphones" style="margin-top: 0.5%;">
        <div class="headphones-top-header">
            <h1>Advanced Sound Quality</h1>
        </div>
        <div class="headphones-bottom-header">
            <p>Experience crystal-clear audio with our top-of-the-line headphones.</p>
        </div>
        <div class="headphones-img">
            <img src="https://ae01.alicdn.com/kf/Sefa6fb536037485d96f7d072d0cc3060q.jpg?width=1000&height=1000&hash=2000" alt="" style="width: 100%;height: 100%;object-fit: cover; border-radius: 20px; margin-top: 2%;" >
        </div>
        <div class="headphones-img-paragraph">
            <p>Our headphones provide unmatched sound fidelity for audiophiles and casual listeners alike.</p>
        </div>
    </div>
    <div class="phones">
        <div class="phones-top-header">
            <h1>Cutting-Edge Smartphones</h1>
        </div>
        <div class="phones-bottom-header">
            <p>Stay connected with the latest in smartphone technology.</p>
        </div>
        <div class="phones-img">
            <img src="https://cdn.a1.art/assets/images/app_1811317900177637378/1811317900181831681/7fb17ab9-1250-4984-a1df-d0a6a61f1228.jpeg" alt="" style="width: 100%;height: 100%;object-fit: cover; border-radius: 20px;" >
        </div>
        <div class="phones-img-paragraph">
            <p>Our smartphones offer the perfect blend of design and functionality.</p>
        </div>
    </div>
    <div class="gaming-gear">
        <div class="gaming-top-header">
            <h1>Immersive Gaming Gear</h1>
        </div>
        <div class="gaming-bottom-header">
            <p>Step into a new world with our gaming equipment</p>
        </div>
        <div class="gaming-img">
            <img src="https://cdn2.vectorstock.com/i/1000x1000/31/91/computer-game-items-and-elements-vector-25753191.jpg" alt="" style="width: 100%;height: 100%;object-fit: cover; border-radius: 20px;" >
        </div>
        <div class="gaming-img-paragraph">
            <p>From consoles to accessories, elevate your gaming experience with out selection</p>
        </div>
    </div>
</div>

<div class="category-title">
    <h1>Categorys</h1>
</div>
<div class="categoryDiv">
    <div class="headphones-Category" >
        <a routerLink="/category"
        [queryParams]="{id:1}"
        ><img src="https://gadgetadvisor.com/wp-content/uploads/2023/09/Laptops.webp" alt="" style="width: 100%;height: 100%;object-fit: cover;border-radius: 20px;"></a>
    </div>
    <div class="phones-Category" >
        <a routerLink="/category" 
        [queryParams]="{id:2}"
        ><img src="https://amateurphotographer.com/wp-content/uploads/sites/7/2023/10/iPhone15Pro_vs_SamsungS23_05_ADavies.jpg" alt="" style="width: 100%;height: 100%;object-fit: cover; border-radius: 20px;"></a>
    </div>
</div>

<section class="reviews">
    <div class="left-review">
        <div class="upper-pragraph">
            <p>TechStore offers an incredible range of products that cater to all my tech needs. Their customer service is top-notch!</p>
        </div>
        <div class="bottom-name">
            <div class="circle">
                <img src="https://cdn.a1.art/assets/images/app_1811317900177637378/1811317900181831681/28322c50-53be-4ff0-8bf6-7cd78289df2e.jpeg" alt="" style="width: 100%;height: 100%;object-fit: contain; border-radius: 50px;">
            </div>
            <div class="names">
                <h2>Emily Clark</h2>
                <p>Tech Blogger</p>
            </div>
        </div>
    </div>
    <div class="right-review">
        <div class="upper-pragraph">
            <p>The gaming gear from TechStore has completely transformed my gaming experience. Highly recommend!</p>
        </div>
        <div class="bottom-name">
            <div class="circle">
                <img src="https://cdn.a1.art/assets/images/app_1811317900177637378/1811317900181831681/e198e2b3-f7dd-4cb1-bb95-a198036cc0ab.jpeg" alt="" style="width: 100%;height: 100%;object-fit: contain; border-radius: 50px;">
            </div>
            <div class="names">
                <h2>MIcheal Brown</h2>
                <p>Gamer</p>
            </div>
        </div>
    </div>
</section>


<div class="other-secttion">
    <div class="mother-div">
        <div class="left-div">
            <div class="img1">
                <img src="https://cdn.a1.art/assets/images/app_1811317900177637378/1811317900181831681/40555f17-719a-4288-8595-02170d3b83c9.jpeg" alt="" style="width: 100%;height: 100%;object-fit: cover;border-radius: 25px;">
            </div>
        </div>
        <div class="right-div">
            <div class="H1">
                <h1>Join the Tech Revolution </h1>
            </div>
            <div class="P">
                <p>Explore our range of cutting-edge technology. Don't miss out on the latest trends and innovations.</p>
            </div>
            <div class="selections">
                <div class="left-selection">
                    <h3>Wide selection of products</h3>
                    <h3 style="margin-top: 10%;">Competitive pricing</h3>
                </div>
                <div class="right-selection">
                    <h3>Expert customer support</h3>
                    <h3 style="margin-top: 10%;">Fast and reliable shipping</h3>
                </div>
            </div>
            <div class="button">
                <button routerLink="/products">Discover more →</button>
            </div>
        </div>
    </div>
</div>



<div class="contactUS-HomePage">
    <div class="upper-sendMESS">
        <h1>Send Us Message</h1>
        <div class="form-div">
            <form action="#">
                <div class="upper-input">
                    <input type="text" required placeholder="Enter First Name" class="input1">
                    <input type="text" required placeholder="Enter a LastName" style="margin-left: 5%;">
                </div>
                <div class="bottom-input">
                    <input type="email" required placeholder="Email Address" class="input2">
                    <input type="number" required placeholder="Phone Number" style="margin-left: 5%;">
                </div>
                <div class="message-input">
                    <input type="text" required placeholder="Write a Message">
                </div>
                <div class="buttom-contact">
                    <button>Send a Message</button>
                </div>
            </form>
        </div>
        <div class="right-side-info">
            <div class="info">
                <h1>Info</h1>
                <div class="loc">
                    <div class="para1">
                        <p>267 Banbury Road Summertown</p>
                    </div>
                    <div class="para1">
                        <p>Oxford 42 Upper Berkeley Street</p>
                    </div>
                    <div class="para1">
                        <p>London +33 1234567 890</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="down-FAQ">
        <div class="mother-FAQ">
            <h1>Most Asked FAQ</h1>
            <div class="mostAsked-top">
                <div class="left-side-FAQ">
                    <p>1</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe enim incidunt exercitationem commodi maiores fugiat, maxime hic cumque veritatis. Quia impedit labore in deleniti aliquid mollitia ad adipisci molestiae! Accusamus.</p>
                </div>
                <div class="right-side-FAQ">
                    <p>2</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eligendi, culpa nesciunt, eaque officiis quam asperiores impedit, accusantium aut nostrum corrupti mollitia provident hic quos totam aliquid ipsam pariatur voluptate!</p>
                </div>
            </div>
            <div class="mostAsked-bottom">
                <div class="bottom-left-side-FAQ">
                    <p>3</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe enim incidunt exercitationem commodi maiores fugiat, maxime hic cumque veritatis. Quia impedit labore in deleniti aliquid mollitia ad adipisci molestiae! Accusamus.</p>
                </div>
                <div class="-bottom-right-side-FAQ">
                    <p>4</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto eligendi, culpa nesciunt, eaque officiis quam asperiores impedit, accusantium aut nostrum corrupti mollitia provident hic quos totam aliquid ipsam pariatur voluptate!</p>
                </div>
            </div>
        </div>
    </div>
</div>


